<!doctype html>
<html>
  <body>
    <form method="post">
      <b>Username:</b><input type="text" name="username" value="{{.Username}}"><br>
      <b>Password:</b><input type="password" name="password" value="{{.Password}}"><br>
      <input type="submit">
      <input type="hidden" name="service" value="{{.Service}}">
    </form>
  </body>
</html>
